<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="app-nav" class="app-header">
    <div class="app-header-content">
        <div class="app-logo">
                <i data-lucide="heart-pulse"></i>
                <span class="app-logo-text">HerTrack</span>
        </div>

        <nav class="app-nav" id="app-nav">
                <i data-lucide="home"></i>
                <span>Dashboard</span>
                <i data-lucide="calendar"></i>
                <span>Tracker</span>
                <i data-lucide="message-circle"></i>
                <span>Chat</span>
                <i data-lucide="users"></i>
                <span>Forum</span>
                <i data-lucide="library"></i>
                <i data-lucide="plus-circle"></i>
                <i data-lucide="shield"></i>
                <span>Admin</span>
        </nav>

                <i data-lucide="log-out"></i>
                <span>Sign Out</span>
    </div>
</header>

</body>
</html>
